<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal server</title>
    <style>
        /*font-family: 'Poiret One', cursive;
font-family: 'Bungee Inline', cursive;*/

body{
  font-family: 'Poiret One', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  flex-flow: column;
  color: #777676;
  margin: 0;
}

.tagline{
  text-align: center;
  font-size: 30px;
}

h1{
  font-family: 'Bungee Inline', cursive;
    color: #690101;
    font-size: 4em;
    line-height: 1;
    text-shadow: 1px 1px 1px #d4d4d4;
    margin-bottom: 0;
    background: #ffc2c2;
    margin: 0 auto;
    
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #dadada;
    margin-top: 10%;
    box-shadow: inset 0px 0px 5px #444444;
  position: relative;
}

h1::before {
    position: absolute;
    top: -127px;
    width: 6px;
    background: #e8e8e8;
    height: 132%;
    content: '';
}

.error-desc{
  margin-top: 0;
  text-align: center;
  color: #333;
  text-shadow: 0px 0px #ededed;
}

.signature{  
  font-size: 17px;
}
.signature-name{
      font-family: 'Great Vibes', cursive !important;
    font-size: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 27px;
}



    </style>
</head>

<body>
    <div class="error-500">
  
  
        <h1>500</h1>
        <p class="error-desc">internal server error</p>
        <p class="tagline">Problem. <br/>The website we were visiting fainted suddenly. Let us pray for it's recovery.</p>
      </div>
      <div class="signature-sep">--</div>
</body>

</html>