<html>

<body>
    <form action="/universities" method="POST">
        <label>Country: </label>
        <input type="text" name="country"><br><br>
        <button>Submit</button>
    </form>
</body>

</html>