<html>

<body>

    
<main>
    <div class="ui segment">
      <h1>Les ecoles du Maroc</h1>   
   
      <ul>
          <% universities.forEach(function(character) { %>
            <li class="ui segment">
              is <%= character.name %> at <%= character.country %>.
            </li>
          <% }); %>
        </ul>
   
   </div>
    </main>
</body>




</html>