<html>

<body>
    <main>
        <div class="ui segment">
            <h1>Universities of
                <%= universities[0].country %>
            </h1>
            <ul>
                <% universities.forEach(function(university) { %>
                    <li class="ui segment">
                        <%= university.name %>

                    </li>
                    <% }); %>
            </ul>
        </div>
    </main>
</body>

</html>